@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: rgb(155, 255, 176);
    --text-color:white;
    --text-font-family: "Arial"
}

df-messenger {
    --df-messenger-bot-message: #030303;
    --df-messenger-button-titlebar-color: rgb(38 50 56);
    --df-messenger-chat-background-color: #fafafa;
    --df-messenger-font-color: white;
    --df-messenger-send-icon: #878fac;
    --df-messenger-user-message: rgb(76 175 80);
}

*{
    z-index: 1;
}